body {
	padding-top: 70px;
}

.navbar-brand-img {
	display: inline!important;
	margin-right: 15px;
}

.search-center {
	position:absolute;
	width:300px;
	margin-left:-150px;
	left:50%;
	padding:0!important;
}

.search-center input {
	width:300px!important;
}

.country-list-span {
	margin-left:15px;
}

.flag-spacer {
	width:30px;
	height:1px;
}

.info {
	font-size: 1.4em;
	position: absolute;
	margin-top: -1px;
	color:#000!important;
}
